.main {
    display:flex;

}

.day {
    margin:10px;
    background-color: rgb(92, 87, 87);
    border-radius: 5px;
    padding: 10px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 11px;
}